<img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRw&url=http%3A%2F%2Fwww.vantec.co.id%2Fabout%2Fmessagejpn&ei=8AcXVfL_JMnJPIKHgdgI&bvm=bv.89381419,d.bGQ&psig=AFQjCNEl2YvwnhqNXHuzbWHP8ZfyvH3F4A&ust=1427659101088608" alt="Vantec Logo">
<%= form_for(:session, url: { action: 'create' }) do |f| %>
<ul>
  <li>Username:</li>
  <li><%= f.text_field(:username) %></li>
  <li>Password:</li>
  <li><%= f.password_field :password %></li>
  <li><%= f.submit 'Log In' %></li>
</ul>
<% end %>

<%= link_to 'Sign up for VANTEC IMPORT', new_users_path %>