

<div class="container1">
	<table>
		<tr>
			<th><%= sortable "Shipper", "shipper" %></th>
			<th><%= sortable "Consignee", "consignee" %></th>
			<th><%= sortable "Masterbill", "masterbill" %></th>
			<th><%= sortable "Housebill", "housebill" %></th>
			<th><%= sortable "Clearance", "clearance" %></th>
			<th><%= sortable "Handled By", "user_id" %></th>
			<th><%= sortable "ETA", "eta" %></th>
			<th><%= sortable "ATA", "ata" %></th>
			<th><%= sortable "Dispatched", "dispatched" %></th>
			<th><%= sortable "Billing", "billing" %></th>
			<th><%= sortable "POD", "pod" %></th>
			<th>Comments</th>

			<th>Archive</th>

		</tr>
		
		<% @shipments.each do |shipment| %>
			<tr>

				<%= form_for(shipment) do |f| %>

					<td><%= shipment.shipper %></td>
					<td><%= shipment.consignee %></td>
					<td><%= shipment.masterbill %></td>
					<td><%= shipment.housebill %></td>
					<td><%= shipment.clearance %></td>
					<td><%= shipment.user_id %></td>
					<td><%= shipment.eta %></td>
					<td><%= shipment.ata %></td>
					<td><%= f.check_box :dispatched %></td>

					<td><%= f.check_box :billing %></td>

					
					<td><%= f.text_field :pod %></td>

					<td><%= f.text_area :comments %></td>


					<td><%= f.check_box :archive %></td>
					

					<td><%= f.submit "Save" %></td>	
				<% end %>

				<td><%= link_to '<button type="button">Edit</button>'.html_safe, edit_shipment_path(shipment) %></td>
				<td><%= link_to '<button type="button">Delete</button>'.html_safe, shipment, method: :delete, data: { confirm: 'are you sure?'} %></td>

			</tr>
		<% end %>

	</table>
</div>




<script>
$(function() {
    $('tbody > tr > td > input').each(function(index) {
        var possibleStatus = [['dispatched', "f"], ['clearance', "t"]];
        var currentStatus = $(this)[0].value;
        console.log(currentStatus);
        // for each of these cells, if the cell matches a certain criteria, highlight it
        for (var i = 0; i < possibleStatus.length; i++) {
            if (currentStatus == possibleStatus[i][1]) {
                $(this).addClass(possibleStatus[i][0]);
            }
        }
    });
});
</script>